registry=https://registry.npm.taobao.org/
@ihouqi:registry=https://ihouqi-npm.pkg.coding.net/fe/private/

always-auth=true
//ihouqi-npm.pkg.coding.net/fe/private/:username=private-1646635522427
//ihouqi-npm.pkg.coding.net/fe/private/:_password=MDlhMTVjMzQ3ZDExMjc4ZTFlNmZiZDUwNjE2MTliOGM1MzljOTFlMg==
//ihouqi-npm.pkg.coding.net/fe/private/:email=1428899467@qq.com
