.full-screen-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  // align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &-screen {
    transform-origin: left top;
  }

  &-box {
    // position: absolute;
    // top: 0px;
    // left: 0px;
    margin: 0 auto;
    overflow: hidden;
  }
}
